/* Styles de votre barre de navigation */
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 15px 20px;
  }
  
  .navigation a {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: cursive, sans-serif;
    transition: transform 1.0s;
    text-decoration: none;
    color: white;
  }
  
  .navigation a:hover {
    transform: scale(1.7);
  }