:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

h1 {
  font-size: 3.5em; /* Taille de la police plus grande */
  font-family: 'Harry P', sans-serif; /* Utilisation d'une police Harry Potter */
  color: rgb(223, 239, 255); /* Couleur dorée */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Ombre portée pour un effet de profondeur */
  margin-bottom: 20px; /* Marge en bas pour l'espace */
}


p {
  color: white;
}

span {
  font-size: 20px;
}


/* styles.css */

.search-container {
  position: relative;
  margin-bottom: 20px;
  background-color: #222;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.search-container input {
  padding:10px;
  border: none;
  border-bottom: 2px solid #444;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  width: 95%;
}

/* Styles des boutons */
button {
  background-color: #7f5a3f; /* Couleur du fond des boutons */
  color: white; /* Couleur du texte */
  border: none; /* Supprime la bordure */
  padding: 10px 20px; /* Ajoute de l'espace autour du texte */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur de la souris */
  font-size: 16px; /* Taille du texte */
  margin-right: 10px; /* Marge à droite */
  margin-left: 10px;
}

/* Style de l'input */
input[type="int"] {
  padding: 10px; /* Ajoute de l'espace autour du texte */
  border: 2px solid #7f5a3f; /* Bordure */
  border-radius: 5px; /* Coins arrondis */
  font-size: 16px; /* Taille du texte */
}


